<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить API</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/form.css">
  </head>
  <body> 
    <header class="header container">
      <div class="header__logo"><a href="/"><img class="img" src="static/img/logo.png" alt="trade-wave logo"></a></div>
    </header>
    <div class="container form"> 
      <div class="island"> 
        <div class="island__header"> 
          <h2 class="title">Добавить API</h2>
        </div>
        <div class="island__content">
          <form class="login-form" method="post">
            <label class="input-label">API Key
              <div class="input"> 
                <input class="input__field" type="text" id="api-key" name="api-key" placeholder="enter your api key"/>
              </div>
            </label>
            <label class="input-label">Secret Key
              <div class="input"> 
                <input class="input__field" type="text" id="secret-key" name="secret-key" placeholder="enter your secret key"/>
              </div>
            </label>
            <button class="btn btn_primary form-btn" style="background-color: orange">Добавить</button>
          </form>
        </div>
      </div>
    </div>
    <script src="static/js/index.js"> </script>
    <script src="static/js/form.js"> </script>
  </body>
</html>